* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

.chat-container {
  direction: flex;
  align-content: center;
  margin: 50px;
  padding: 20px;
  background-color: #001f3f;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(116, 103, 103, 0.2);
  color: #e6e2e2;
  font-family: Arial, sans-serif; 
  }
  
  .chat-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #e6e2e2;
    

  }
  
  .chat-box {
    height: 600px;
    overflow-y: auto;
    background-color: #001f3f;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .chat-message {
    margin-bottom: 10px;
    background-color: #ced3e230;
    padding: 8px 12px;
    border-radius: 10px;
    width: fit-content;
    max-width: 80%;
  }
  
  .chat-input {
    display: flex;
    gap: 10px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
  }
  
  .chat-input button {
    background-color: #00BFFF;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-input button:hover {
    background-color: #0095cc;
  }
  
  /* Responsivo para telas menores */
@media (max-width: 768px) {
  .chat-container {
    margin: 20px 10px;
    padding: 15px;
    max-width: 100%;
    border-radius: 15px;
    
  }

  .chat-box {
    height: 550px;
    overflow-y: auto;
  }

  .chat-message {
    font-size: 14px;
    padding: 6px 10px;
  }

  .chat-input {
    flex-direction: column;
    gap: 8px;
  }

  .chat-input input {
    font-size: 14px;
    padding: 8px;
  }

  .chat-input button {
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }
  
  .chat-message {
    font-size: 13px;
  }
}
