.container-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d1a2d;
  }
  
  .form-reset {
    background-color: #12274d;;
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .form-reset h1 {
    margin-bottom: 20px;
  }
  
  .form-reset input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    color: #555;
  }
  
  .form-reset button {
    width: 100%;
    padding: 10px;
    background-color: #00BFFF;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form-reset button:hover {
    background-color: #0095cc;
  }
  
  .alert-reset {
    margin-top: 15px;
    font-size: 14px;
  }
  